body {
    margin:0;
    padding: 0;
}
body * {
    font-family: 'Ubuntu', sans-serif;
    
}
header {
    color: #ffffff;
    height: 500px;
    background-image: url(./archives/capa-tipos-de-rolamento.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 30, 96, 0.575);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}
h1 {
    text-transform: uppercase;
    background-color: rgb(0, 30, 96);
    padding: 20px;
    width: 400px;
    font-weight: 500;
}
h1 span {
    text-decoration: underline #4cef00;;
}
#page-title{
    margin-top: 8%;
}
h2 {
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(0, 30, 96);
    width: 500px;
    color: #ffffff;
    justify-content: right;
    text-align: right;
    font-weight: 500;
}
div {
    /*border: solid red 1px;*/
    }
 #logo-Rech {
       padding: 20px;
    }
#bearings-tipe p {
     color: rgb(112, 115, 114);
     width: 420px;
     font-size: 1.3em;
     margin-left: 80px;
     padding: 0;
    }

#Agulhas, #Autocompensadores, #Axiais, #Axiais-esferas-rolos, #Rolos-Cilindricos, #Fechamento-Rolamentos {
    justify-content: center;
    text-align: center;
    margin: 20px 50px;
    color: rgb(112, 115, 114);
}
#Fechamento-Rolamentos {
    width: 650px;
    padding: 50px;
}
#bearings-photos-01 {
    justify-content: center;
    display: flex;
}
#bearings-photos-02 {
    justify-content: center;
    display: flex;
}
#Send-Message {
text-align: center;
justify-content: center;
display: flex;
}
#Send-Message div {
    height: 50;
    width: 600px;
    font-size: 1.5em;
    color: #f8f8f8;
    background-color: rgb(0, 30, 96);
    border-radius: 10px 0 0 10px;
    align-content: center;
    justify-content: center;
    padding: 6px 0;
    }
    #Send-Message button {
        background-color: #4cef00;
        font-size: 1.2em;
        font-weight: 500;
        color: #f8f8f8;
        border-radius: 0 10px 10px 0;
        border: solid #ffffff 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 200px;
        padding: 6px 0;
        }
#Send-Message-02 {
    text-align: right;
    justify-content: center;
    display: flex;
    margin: 20px;
    }
    #Send-Message-02 div {
        width: 450px;
        font-size: 1.2em;
        color: rgb(112, 115, 114);
        justify-content: right;
        margin-right: 20px;
        padding: 9px;
   }
    #Send-Message-02 button {
        background-color: #4cef00;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 500;
        color: #f8f8f8;
        border-radius: 5px;
        border: solid #ffffff 0px;
        padding: 0 12px;
        }
            
#Available-brands img {
    width: 100%;
}
#Support-Price {
    display: flex;
    margin-left: 100px;
    background-image: url(./archives/HEX.png) ;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 60%;
    background-attachment: scroll;
    justify-content: center;
    align-items: center;
}
#Support-Price h3 {
    font-size: 2em;
    color: rgb(0, 30, 96);
    text-align: left;
    font-weight: 500;
}
#Suporte {
    width: 30%;
    text-align: center;
    justify-content: center;
}
#social-links img {
    height: 40px;
    padding-left: 20px ;
    border-left: 1px solid #ffffff;
}
#Forms  {
        background-color: #2677f9;
        border: solid 0px;
        border-radius: 10px;
        border: solid #ffffff 0px;
        text-align: center; 
}
#Forms div {
        margin-bottom: 10px;
    color: #ffffff;
    font-weight: 500;
    border: solid #ffffff 0px;
}
#Forms button{
    background-color: #4cef00;
    font-size: 1.2em;
    font-weight: 600;
    color: #f8f8f8;
    border-radius: 5px;
    padding: 7px 12px;
    border: solid #ffffff 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#Forms p {
    margin-top: 12px;
    font-size: 1.25em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}
fieldset * {
text-align: left;
font-size: 0.95em;
}
footer * {
    background-color:rgb(0, 30, 96);
    align-items: center;
    justify-content: center;
    display: flex;    
    font-size: 24px;
}
a * {
    height: 25px;
    width: 25px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    text-decoration: none;
    color: rgb(0, 30, 96);
    margin: 20px;
}
#button-places{
display: flex;
justify-content: center;
}
#button-places button{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-color: solid #ffffff 1px;
}